<div class="container">
<div class="pull-left">
  <p><a ng-click="$ctrl.toggleAdForm()" class="btn btn-info">New Ad</a></p>
</div>
</div>

<div class="container" ng-if="$ctrl.newAd">
  <div class="col-md-8">

    <form name="form" novalidate ng-submit="$ctrl.createAd()">
      <div ng-class="{'form-group': true, 'has-error': form.title.$invalid && form.title.$touched }">
        <label for="title">Title</label>
        <input class="form-control" name="title" required ng-model="$ctrl.ad.title">
      </div>
      <div ng-class="{'form-group': true, 'has-error': form.price.$invalid && form.price.$touched }">
        <label>Price</label>
        <input class="form-control" name="price" required ng-model="$ctrl.ad.price">
      </div>
      <div ng-class="{'form-group': true, 'has-error': form.description.$invalid && form.description.$touched }">
        <label>Description</label>
        <textarea class="form-control" name="description" required ng-model="$ctrl.ad.description"></textarea>
      </div>
      <div ng-class="{'form-group': true, 'has-error': form.item_image.$invalid && form.item_image.$touched }">
        <label>Item Image</label>
        <input class="form-control" name="image_url" ng-model="$ctrl.ad.item_image">
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid">
          Create Ad
        </button>
      </div>
    </form>

  </div>
</div>
