<div class="" ng-repeat="ad in $ctrl.ads track by $index">
    <h1>{{ad.title}}</h1>
    <span>{{ad.price}}</span>
    <p>{{ad.description}}
        <p>
            <img ng-src="{{ad.item_image}}" alt="image here">
</div>
<form ng-submit="$ctrl.addAd()">
    <p>
        Title: <input id="new-title" ng-model="$ctrl.ads.category">
    </p>
    <p>
        Price: <input id="new-price" ng-model="$ctrl.ads.price">
    </p>
    <p>
        <button type="submit">Add Classified</button>
    </p>
</form>
<!-- <table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody ng-repeat="ad in $ctrl.ads">
        <tr>
            <td>{{ad.title}}</td>
            <td>{{ad.price}}</td>
        </tr>
    </tbody>
</table> -->
