<div class="container" ng-repeat="ad in $ctrl.ads track by $index">
  <div class="col-lg-12 col-sm-12">
    <h1>{{ad.title}} | {{ad.price}}</h1>
    <img ng-src="{{ad.item_image}}" alt="image here">
    <p>{{ad.description}}</p>
  </div>
</div>
<!-- <div class="container" ng-repeat="ad in $ctrl.ads track by $index">
  <div class="col-lg-4 col-sm-4">
    <form ng-submit="$ctrl.addAd()">
        <p>Title: <input id="new-title" ng-model="$ctrl.ads.category"></p>
        <p>Price: <input id="new-price" ng-model="$ctrl.ads.price"></p>
        <p><button type="submit">Add Classified</button></p>
    </form>
  </div>
</div> -->
